extends layout

block header-tags
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.min.js")
  link(rel="stylesheet" href="/style.css")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css")

block layout-content
  #wrapper
      .container
        .row
          a#welcome.btn.btn-primary.top-buttons(role='button' ,aria-pressed="true" , href='#') راهپیمایی آنلاین به مناسبت روز قدس
        .row
          a#stats.btn.btn-primary.top-buttons(role='button' ,aria-pressed="true" , href='#')  #{visitors} شرکت کننده تا کنون !
        .row.slogans
          a#0.btn.btn-primary.sloganButton(role='button' ,aria-pressed="true" , href='#' onclick="pushSlogan(0, updateButton); enableAutoplay()") مرگ بر اسرائیل
        .row
          a#1.btn.btn-primary.sloganButton(role='button' ,aria-pressed="true" , href='#' onclick="pushSlogan(1, updateButton); enableAutoplay()") مرگ بر آمریکا
        .row
          a#2.btn.btn-primary.sloganButton(role='button' ,aria-pressed="true" , href='#' onclick="pushSlogan(2, updateButton); enableAutoplay()") در انتخابات شرکت خواهم کرد
        .row
          a#3.btn.btn-primary.sloganButton(role='button' ,aria-pressed="true" , href='#' onclick="pushSlogan(3, updateButton); enableAutoplay()") انتخابات حق من است
        .row
          a#4.btn.btn-primary.sloganButton(role='button' ,aria-pressed="true" , href='#' onclick="pushSlogan(4, updateButton); enableAutoplay()") مرد میدان حاج قاسم هنوز زنده است
      footer.footer.blue
        .footer-copyright.text-center.py-3
          img.img.footer-logo(src="logo.png" alt="بسیج دانش آموزی")
          a(href="https://eitaa.com/h5fahmideh") کانال ایتا حوزه مقاومت بسیج ۵ شهیدفهمیده
          .h-divider
          |   طراحی و توسعه توسط 
          a(href="https://api.whatsapp.com/send?phone=989933945660&text=%D8%B7%D8%B1%D8%A7%D8%AD%DB%8C%20%D9%88%20%D8%AA%D9%88%D8%B3%D8%B9%D9%87%20%D9%88%D8%A8%20%D8%A8%D8%A7%20%D8%A8%D9%87%D8%AA%D8%B1%DB%8C%D9%86%20%D9%82%DB%8C%D9%85%D8%AA")  امید شهسوارزاده

      script(src="https://bayanbox.ir/download/7057545341039484080/functions.js")
      script.
        let audio = new Audio('https://bayanbox.ir/download/3584764951144558353/sound.mp3');
        let audiostate = 0;
        // audio.play();
        /*
        let x = document.getElementById("myAudio");
        */

        function enableAutoplay() {
                audio.play();
                audiostate = 1;
        }
        enableAutoplay();