extends layout

block header-tags
  script(src="/ajaxcalls.js")
  link(rel="stylesheet" href="/style.css")
  link(rel="stylesheet", href="/bootstrap.min.css")

block layout-content
  div.View.container
    h1.Banner راهپیمایی
    div.Message
      div.Title
        h3 به راهپیمایی انلاین خوش آمدید
        br
        h1 تعداد شرکت کنندگان در راهپیمایی آنلاین #{visitors}
        h3
          a(id=2 ,class='btn btn-primary btn-lg active',role='button' ,aria-pressed="true" , href='#' onclick="pushSlogan(2, updateButton)") 
      span.Details گزینه های بیشتر
    div.NavButtons
      a(href="/user")
          div.NavButton حوزه 5 شهید فهمیده

