extends layout

block header-tags
  script(src='/ajaxcalls.js')
  link(rel="stylesheet" href="/style.css")

block layout-content
  div.View
    h1.Banner WHATABYTE
    div.Message
      div.Title
        h3 به راهپیمایی انلاین خوش آمدید
        h1 تعداد شرکت کنندگان در راهپیمایی آنلاین #{visitors}
      span.Details Access the WHATABYTE Team Portal
    div.NavButtons
      a(href="/user")
          div.NavButton Just dive in!

