extends layout

block header-tags
  script(src="/ajaxcalls.js")
  link(rel="stylesheet" href="/style.css")
  link(rel="stylesheet", href="/bootstrap.min.css")

block layout-content
  div.View.container
    h1.Banner راهپیمایی
    div.Message
      div.Title
        h3 به راهپیمایی انلاین خوش آمدید
        br
        h1 تعداد شرکت کنندگان در راهپیمایی آنلاین #{visitors}
        h3
          a(id=0 ,class='btn btn-primary btn-lg active',role='button' ,aria-pressed="true" , href='#' onclick="pushSlogan(0, updateButton)") مرگ بر آمریکا
          a(id=1 ,class='btn btn-primary btn-lg active',role='button' ,aria-pressed="true" , href='#' onclick="pushSlogan(1, updateButton)") مرگ بر ضد ولایت فقیه
          a(id=2 ,class='btn btn-primary btn-lg active',role='button' ,aria-pressed="true" , href='#' onclick="pushSlogan(2, updateButton)") مرگ بر منافقین و کفار
          a(id=3 ,class='btn btn-primary btn-lg active',role='button' ,aria-pressed="true" , href='#' onclick="pushSlogan(3, updateButton)") مرگ بر انگلیس
          a(id=4 ,class='btn btn-primary btn-lg active',role='button' ,aria-pressed="true" , href='#' onclick="pushSlogan(4, updateButton)") مرگ بر اسرائیل
      span.Details گزینه های بیشتر
    div.NavButtons
      a(href="/user")
          div.NavButton حوزه 5 شهید فهمیده

