extends layout

block header-tags
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  script(src="/jquery-3.5.1.min.js")
  script(src="/bootstrap.min.js")
  link(rel="stylesheet" href="/style.css")
  link(rel="stylesheet", href="/bootstrap.min.css")


block layout-content
  #wrapper
      audio#myAudio(controls='')
        source(src='sound.ogg' type='audio/ogg')
        source(src='sound.mp3' type='audio/mpeg')
        |   Your browser does not support the audio element.

      .container
        .row
          a#welcome.btn.btn-primary.top-buttons(role='button' ,aria-pressed="true" , href='#') راهپیمایی آنلاین به مناسبت 13 آبان
        .row
          a#stats.btn.btn-primary.top-buttons(role='button' ,aria-pressed="true" , href='#')  #{visitors} شرکت کننده تا کنون !
        .row.slogans
          a#0.btn.btn-primary.sloganButton(role='button' ,aria-pressed="true" , href='#' onclick="pushSlogan(0, updateButton); enableAutoplay(removeOnClick)") مرگ بر آمریکا
        .row
          a#1.btn.btn-primary.sloganButton(role='button' ,aria-pressed="true" , href='#' onclick="pushSlogan(1, updateButton)") مرگ بر ضد ولایت فقیه
        .row
          a#2.btn.btn-primary.sloganButton(role='button' ,aria-pressed="true" , href='#' onclick="pushSlogan(2, updateButton)") مرگ بر منافقین و کفار
        .row
          a#3.btn.btn-primary.sloganButton(role='button' ,aria-pressed="true" , href='#' onclick="pushSlogan(3, updateButton)") مرگ بر انگلیس
        .row
          a#4.btn.btn-primary.sloganButton(role='button' ,aria-pressed="true" , href='#' onclick="pushSlogan(4, updateButton)") مرگ بر اسرائیل

        script(src="/ajaxcalls.js")
        script.
          var x = document.getElementById("myAudio");
          var y = document.getElementById("0");

          function removeOnClick() {
            y.setAttribute("onclick", "pushSlogan(0, updateButton)");
          }
          function enableAutoplay(callback) {
          x.autoplay = true;
          x.load();
          callback()
          }
          enableAutoplay();
