extends layout

block header-tags
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.min.js")
  link(rel="stylesheet" href="/style.css")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css")

block layout-content
  #wrapper
      audio#myAudio(controls='')
        source(src='https://bayanbox.ir/download/7993016115815646513/sound.ogg' type='audio/ogg')
        source(src='https://bayanbox.ir/download/969946664997282695/sound.mp3' type='audio/mpeg')
        |   مرورگر شما از فایل صدا پشتیبانی نمیکند.

      .container
        .row
          a#welcome.btn.btn-primary.top-buttons(role='button' ,aria-pressed="true" , href='#') راهپیمایی آنلاین به مناسبت 9 دی
        .row
          a#stats.btn.btn-primary.top-buttons(role='button' ,aria-pressed="true" , href='#')  #{visitors} شرکت کننده تا کنون !
        .row.slogans
          a#0.btn.btn-primary.sloganButton(role='button' ,aria-pressed="true" , href='#' onclick="pushSlogan(0, updateButton); enableAutoplay()") مرگ بر آمریکا 
        .row
          a#1.btn.btn-primary.sloganButton(role='button' ,aria-pressed="true" , href='#' onclick="pushSlogan(1, updateButton); enableAutoplay()") مرگ بر سازش کار
        .row
          a#2.btn.btn-primary.sloganButton(role='button' ,aria-pressed="true" , href='#' onclick="pushSlogan(2, updateButton); enableAutoplay()") مرگ بر فتنه گر
        .row
          a#3.btn.btn-primary.sloganButton(role='button' ,aria-pressed="true" , href='#' onclick="pushSlogan(3, updateButton); enableAutoplay()") مرگ بر انگلیس
        .row
          a#4.btn.btn-primary.sloganButton(role='button' ,aria-pressed="true" , href='#' onclick="pushSlogan(4, updateButton); enableAutoplay()") مرگ بر اسرائیل
      footer.footer.blue
        .footer-copyright.text-center.py-3
          img.img.footer-logo(src="logo.png" alt="بسیج دانش آموزی")
          | حوزه مقاومت بسیج ۵ شهیدفهمیده
          | ناحیه مقاومت بسیج امام رضا علیه السلام
          | سپاه حضرت صاحب الزمان عج اصفهان 
          .h-divider
          |   طراحی و توسعه توسط 
          a(href="https://api.whatsapp.com/send?phone=989933945660&text=%D8%B7%D8%B1%D8%A7%D8%AD%DB%8C%20%D9%88%20%D8%AA%D9%88%D8%B3%D8%B9%D9%87%20%D9%88%D8%A8%20%D8%A8%D8%A7%20%D8%A8%D9%87%D8%AA%D8%B1%DB%8C%D9%86%20%D9%82%DB%8C%D9%85%D8%AA")  امید شهسوارزاده

      script(src="https://bayanbox.ir/download/2254138275376217670/functions.js")
      script.
        let x = document.getElementById("myAudio");
        let audiostate = 0;

        function enableAutoplay() {
            if (audiostate == 0) {
                x.autoplay = true;
                x.load();
                audiostate = 1;
            }
        }
        enableAutoplay();