@import url("/css/font-style.css");

#wrapper {
  background-image: url("http://s17.picofile.com/file/8412714400/background.jpg");
  background-repeat: no-repeat;
  /*background-size: 100%;*/
}

.container {
  padding-top: 5%;
  /* background-color: blanchedalmond; */
  height: 640px;
}

.btn {
  float: right;
  margin-right: 0.35rem;
}

.top-buttons {
  font-family: "IRANSans";
  font-size: small !important;
  padding: 0.25rem 0.35rem !important;
  border-radius: 1rem !important;
  background-color: #3d73dd !important;
  border-color: #3d73dd !important;
}

#stats {
  margin-top: 0.25rem;
}

.slogans {
  margin-top: 19rem;
}
.sloganButton {
  background-color: #f7542e !important;
  border-color: #f7542e !important;
  border-radius: 0.67rem !important;
  margin-top: 0.67rem;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  width: 100%;
}
.footer {
  margin-top: 0.8rem;
  height: 90px;
  background-color: blanchedalmond;
}

#myAudio {
  display: none;
}

#quqnus {
  width: 50px;
  height: 50px;
  float: right !important;
}
.logoimage {
  float: right !important;
}
#welcome {
  background-color: #e74c3c !important;
  border-color: #e74c3c !important;
}

#btns {
  background-color: #3d73dd !important;
  border-color: #3d73dd !important;
}
