@import url("/css/font-style.css");

#wrapper {
  background-image: url("https://bayanbox.ir/download/2955956381995512090/background.jpg");
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;

  /* Background image doesn't tile */
  background-repeat: no-repeat;

  /* Background image is fixed in the viewport so that it doesn't move when 
    the content's height is greater than the image's height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;

  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;
}

.container {
  padding-top: 5%;
  /* background-color: blanchedalmond; */
  height: 690px;
}

.btn {
  float: right;
  margin-right: 0.35rem;
}

.top-buttons {
  font-family: "IRANSans";
  font-size: small !important;
  padding: 0.25rem 0.35rem !important;
  border-radius: 1rem !important;
  background-color: #3d73dd !important;
  border-color: #3d73dd !important;
}

#stats {
  margin-top: 0.25rem;
}

.slogans {
  margin-top: 19rem;
}
.sloganButton {
  background-color: #f7542e !important;
  border-color: #f7542e !important;
  border-radius: 0.67rem !important;
  margin-top: 0.67rem;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  width: 100%;
}
.footer {
  /* margin-top: 0.8rem;*/
  background-color: #dcdcdc;
  position: relative;
  height: 60px;
  font-size: small;
  bottom: 0;

  width: 100%;
}

#myAudio {
  display: none;
}

#quqnus {
  width: 50px;
  height: 50px;
  float: right !important;
}
.logoimage {
  float: right !important;
}
#welcome {
  background-color: #e74c3c !important;
  border-color: #e74c3c !important;
}

#btns {
  background-color: #3d73dd !important;
  border-color: #3d73dd !important;
}
