@import url("/css/font-style.css");

#wrapper {
<<<<<<< HEAD
<<<<<<< HEAD
    background-image: url("https://bayanbox.ir/download/7607809249912267682/background-end.jpg");
=======
    background-image: url("https://bayanbox.ir/download/2955956381995512090/background.jpg");
>>>>>>> parent of 823dd02... optimize more
=======
    background-image: url("http://s17.picofile.com/file/8412714400/background.jpg");
>>>>>>> parent of b01aefd... end cooming soon
    background-repeat: no-repeat;
    /*background-size: 100%;*/
}

.container {
    padding-top: 5%;
    /* background-color: blanchedalmond; */
    height: 640px;
}

.btn {
    float: right;
    margin-right: .35rem;
}

.top-buttons {
    font-family: "IRANSans";
    font-size: small !important;
    padding: .25rem .35rem !important;
    border-radius: 1rem !important;
    background-color: #3D73DD !important;
    border-color: #3D73DD !important;
}

#stats {
    margin-top: .25rem;
}

.slogans {
    margin-top: 19rem;
}
.sloganButton {
    background-color: #F7542E !important;
    border-color: #F7542E !important;
    border-radius: 0.67rem !important;
    margin-top: 0.67rem;
    margin-right: .75rem;
    margin-left: 0.75rem;
    width: 100%;

}
.footer {
    margin-top: 0.8rem;
    height: 90px;
    background-color: blanchedalmond;
}

#myAudio {
    display: none;
}

#quqnus {
    width: 50px;
    height: 50px;
    float: right !important;
}
.logoimage {
    float: right !important;
<<<<<<< HEAD
}
#welcome {
    background-color: #e74c3c !important;
    border-color: #e74c3c !important;
}

#btns {
    background-color: #3D73DD !important;
    border-color: #3D73DD !important;
=======
>>>>>>> parent of b01aefd... end cooming soon
}